

    <!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/js/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/js/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/js/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/js/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/js/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main-login.css">
<!-- Start post Area -->
<div class="post-wrapper pt-100">
    <!-- Start post Area -->
    <section class="post-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="single-page-post">
                        

                        <div class="single-post-content">
                          
                        </div>
                        <div class="bottom-wrapper">
                            <div class="row">
                                
                            </div>
                        </div>

                       <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-0 p-b-33">
                <form action="/users/register" method="post" class="login100-form validate-form flex-sb flex-w" autocomplete="off">
                    <span class="login100-form-title p-b-53">
                        Sign Up
                    </span>



                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
                            fullName:
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="full name is required">
                        <input class="input100" type="text" name="fullName" value="{{fullName}}">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Date Birth:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Date Birth is required">
                        <input class="input100" type="date" name="DateBirth" value="{{DateBirth}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Street:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Street is required">
                        <input class="input100" type="text" name="street" value="{{street}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Country:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Country is required">
                        <input class="input100" type="text" name="country" value="{{country}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            phone:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Phone is required">
                        <input class="input100" type="tel" name="phone" value="{{phone}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Email:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Email is required">
                        <input class="input100" type="email" name="email" value="{{email}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            password:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass" value="{{password}}">
                        <span class="focus-input100"></span>
                    </div>
                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Confirm Password:
                        </span>


                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" name="pass2" value="{{password2}}">
                        <span class="focus-input100"></span>
                    </div>
                       <div class="p-t-13 p-b-9">
                        <span class="txt1">
                           Upload Image:
                        </span>


                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <input class="login100-form-btn" type="file"> 
                        
                    </div>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Sign In
                        </button>
                    </div>


                    <div class="w-full text-center p-t-55">
                        <span class="txt2">
                            You have a account?
                        </span>

                        <a href="/users/login" class="txt2 bo1">
                            Sign in
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>






                    </div>
                </div>
                <div class="col-lg-4 sidebar-area ">
                   

                    <div class="single_widget about_widget">
                        <img src="{{user.profileImageURL}}" style="width:300px;">

                        <h2 class="text-uppercase">{{user.displayName}}</h2>
                        <p>
                            {{user.email}} <br>
                            {{user.DateBirth}}<br>
                            {{user.street}}<br>
                            {{user.country}}<br> 
                            {{user.phone}}<br> 
                        </p>
                        <div class="social-link">
                            <a href="#">
                                <button class="btn">
                                    <i class="fa fa-facebook" aria-hidden="true"></i> Like</button>
                            </a>
                            <a href="#">
                                <button class="btn">
                                    <i class="fa fa-twitter" aria-hidden="true"></i> follow</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- End post Area -->
</div>
<!-- End post Area -->

     <!--===============================================================================================-->
	<script src="/js/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/bootstrap/js/popper.js"></script>
	<script src="/js/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/js/daterangepicker/moment.min.js"></script>
	<script src="/js/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/js/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/js/main-login.js"></script>
    